<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurante_C_SHARP.Properties.Settings.RestauranteConnectionString"
            connectionString="Data Source=FAMILIAGARCAR\SQLEXPRESS;Initial Catalog=Restaurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>